.type-2026{ 

    .navbar-default {
        
        border: none;
        border-radius: 0px;
        height: 80px;
        .navbar-header{
            .icon-bar{
                background-color: #fff;
            }
            .logo-text {
                font-size: 30px;
             
                text-transform: uppercase;
                margin-top: 25px;
                .text-highlight{
                    color: green;
                }
            }
        }
        img{
            opacity: 0.5;
        }
        .img-responsive:hover{
            
            -webkit-transition: all 0.7s ease;
                -transiton: all 0.5s ease;
                -webkit-transform: scale(0.1);
                transform: scale(1.1);
               
        }
      
        .navbar-nav{
            li{
                text-align: center;
                a {
                    font-size: 17px;
                    color: pink;
                    display: block;
                    padding: 7px 0 8px;
                    padding: 31px 16px 27px;
                    text-decoration: none;
                    
                }
                a:hover{
                    font-family: UMT Azuki;
                    color: orange;
                    border-bottom: 1px solid green;
                    text-decoration: none;
                    background-color: none;
                    
                   
                }
                a:hover:before{
                    transform: scaleX(1);
                }
                a:before{
                    border-bottom: 3px solid;
                    display: block;
                    content: '';
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transform: scaleX(0);
                    transition: transform 250ms ease-in-out;
                   
                }
                
                .dropdown-menu{
                    
                    border-radius: none;
                   right: auto;
                    left: 0;
                    padding: 0px 10px 0px 10px;
                    margin-top: 0px;
                    li{
                        width: 100%;
                        padding: 7px 0 8px;
                        border-bottom: 1px dotted #FF9000;
                        a{
                            border: none;
                            padding: 10px;
                            text-decoration: none;
                            color: #444;
                        }
                        a:hover{
                            color: #FF9000;
                            //color: #7ccbfc;
                            background-color: #fff;
                        }
                    }
                }
            }
           
            .active-item a {
                color: #fff;
                
            }
           
        }
        
    }
    .navbar-collapse{
            color: #444;
            border: none;
            .nav li{
                a:hover{
                    color: green;
                 
                }
            }
        }
}
